DB_HOST=localhost
DB_PORT=5432
DB_USER=YOUR_USER
DB_PASSWORD=YOUR_PASSWORD
DB_NAME=DATABASE_NAME

JWT_SECRET=YOUR_SUPER_SECRET
FRONTEND_URL=http://localhost:some_port

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=